doctype 5
//-     ,ad8888ba,                           88                      ad88888ba   88           88                       
//-    d8"'    `"8b                          88                     d8"     "8b  88           ""                ,d     
//-   d8'                                    88                     Y8,          88                             88     
//-   88              ,adPPYba,   ,adPPYba,  88   ,d8  8b       d8  `Y8aaaaa,    88,dPPYba,   88  8b,dPPYba,  MM88MMM  
//-   88      88888  a8P_____88  a8P_____88  88 ,a8"   `8b     d8'    `"""""8b,  88P'    "8a  88  88P'   "Y8    88     
//-   Y8,        88  8PP"""""""  8PP"""""""  8888[      `8b   d8'           `8b  88       88  88  88            88     
//-    Y8a.    .a88  "8b,   ,aa  "8b,   ,aa  88`"Yba,    `8b,d8'    Y8a     a8P  88       88  88  88            88,    
//-     `"Y88888P"    `"Ybbd8"'   `"Ybbd8"'  88   `Y8a     Y88'      "Y88888P"   88       88  88  88            "Y888  
//-                                                        d8'                                                         
//-                                                       d8'                                                          
html
  head
    title Geeky Shirt February
    meta(name='viewport', content='user-scalable=no, width=device-width, initial-scale = 1.0,maximum-scale = 1.0')
    link(rel='stylesheet', type='text/css', href='css/index.css')
    script(src='//use.typekit.net/vgm2hxd.js')
    script
      try{Typekit.load();}catch(e){}
    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-255368-15']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  body
    .header
      .container
        h1 Geeky Shirt February
        h2 A different geeky shirt every day
        a(href='http://peterwooley.com')
          img.logo(src='images/wooooooooley.png')
    .container

      - var shirts = []
      - shirts.push({"title":"Node.js Turtle","image":"http://mmt.asciidisco.com/img/node_turtle.png","link":"http://teespring.com/nodejs", me: "https://pbs.twimg.com/media/BCKE94TCAAAO3j0.jpg:large"})
      - shirts.push({"title":"Helvetica","image":"http://3.media.bustedtees.cvcdn.com/6/-/bustedtees.3c0f2216-da85-4c71-bfe2-0589fc6e.jpg","link":"http://www.bustedtees.com/helvetica", me: "https://pbs.twimg.com/media/BCKFlrxCIAAu3CO.jpg:large"})
      - shirts.push({"title":"Binary Dad ","image":"http://a.tgcdn.net/images/products/frontsquare/dad.jpg","link":"http://www.thinkgeek.com/product/6c49/", me: "https://pbs.twimg.com/media/BCO-M1mCYAA7sWA.jpg:large"})
      - shirts.push({"title":"Aperture 40s","image":"http://a.tgcdn.net/images/products/additional/carousel/e8c3_aperture_1940.jpg","link":"http://www.thinkgeek.com/product/e8c3/", me:"https://pbs.twimg.com/media/BCSpyRUCcAA38bA.jpg:large"})
      - shirts.push({"title":"Aperture 80s","image":"http://www.jinx.com/content/prod/3163p_0c_1b.jpg","link":"http://www.jinx.com/p/portal_2_aperture_80s_logo_premium_tee.html", me: "https://pbs.twimg.com/media/BCXaFowCEAAfifC.jpg:large"})
      - shirts.push({"title":"HTML5 Dev Conf","image":"http://teespring.com/uploads/9662/shirtFront.jpg","link":"http://teespring.com/html5", me:"https://pbs.twimg.com/media/BCde1TtCYAAGa0A.jpg:large"})
      - shirts.push({"title":"Community 8-Bit","image":"http://a.tgcdn.net/images/products/additional/carousel/f264_community_8-bit.jpg","link":"http://www.thinkgeek.com/product/f264/", me: "https://pbs.twimg.com/media/BCjPJQICYAAfbLN.jpg:large"})
      - shirts.push({"title":"Planet Express","image":"http://a.tgcdn.net/images/products/frontsquare/bbc6_planet_express_2up.jpg","link":"http://www.thinkgeek.com/product/bbc6/", me: "https://pbs.twimg.com/media/BCnEUA3CcAAoTwH.jpg:large"})
      - shirts.push({"title":"Bazinga","image":"http://a.tgcdn.net/images/products/additional/carousel/e5a4_bazinga_hoodie.jpg","link":"http://www.thinkgeek.com/product/d18d/", me: "https://pbs.twimg.com/media/BCrkJKfCEAA7tSH.jpg:large"})
      - shirts.push({"title":"8-Bit Mickey","image":"http://a0.img.mobypicture.com/a020ed02e886c759840634fc852f32a3_view.jpg","link":"http://www.laughingplacestore.com/Product-17332.asp?r=LP", me: "https://pbs.twimg.com/media/BCy0RiaCMAEmAgT.jpg:large"})
      - shirts.push({"title":"Keep Calm","image":"http://6dollar.threadpitinc.netdna-cdn.com/images/P/Keep_Calm_Carry_On_NEW_T_SHIRT_red.jpg","link":"http://6dollarshirts.com/t-shirts/Keep-Calm-and-Carry-On-p-11405.html", me: "https://pbs.twimg.com/media/BC1fxB4CIAAwPfb.jpg:large"})
      - shirts.push({"title":"Zelda is the Girl","image":"http://5.media.bustedtees.cvcdn.com/7/-/bustedtees.5444a467-03ff-48c2-b752-41b9dab3.gif","link":"http://www.bustedtees.com/zeldaisthegirl", me: "https://pbs.twimg.com/media/BC9pcEBCIAEFkpn.jpg:large"})
      - shirts.push({"title":"Triforce","image":"http://ak1.polyvoreimg.com/cgi/img-thing/size/l/tid/61371335.jpg","link":"http://www.polyvore.com/nintendo_legend_zelda_ocarina_time/thing?id=61371335", me: "https://pbs.twimg.com/media/BDC4j-xCcAAS2uu.jpg:large"})
      - shirts.push({"title":"Tunic for Heroes","image":"http://6dollar.threadpitinc.netdna-cdn.com/images/P/Format_NEW_Heros_Tunic_kellygreen.jpg","link":"http://6dollarshirts.com/t-shirts/A-Tunic-For-Heroes-p-11433.html", me: "https://pbs.twimg.com/media/BDH9hrwCUAA67Fw.jpg:large"})
      - shirts.push({"title":"8-Bit Life","image":"http://6dollar.threadpitinc.netdna-cdn.com/images/P/8_Bit_Life_Hearts_T_SHIRTS_black.jpg","link":"http://6dollarshirts.com/product.php?productid=12201", me: "https://pbs.twimg.com/media/BDMU-4XCMAAxqEx.jpg:large"})
      - shirts.push({"title":"Node.js Logo","image":"http://ih3.redbubble.net/image.10435364.0663/fc,550x550,army.jpg","link":"http://www.redbubble.com/people/dmitrybaranovsk/works/7590663-node-js", me: "https://pbs.twimg.com/media/BDROsYsCYAIHlSx.jpg:large"})
      - shirts.push({"title":"RPSLS","image":"http://a.tgcdn.net/images/products/additional/carousel/db2e_lizard_spock.jpg","link":"http://www.thinkgeek.com/product/b597/"})
      - shirts.push({"title":"HJKL","image":"http://teespring.com/uploads/2175/shirtFront.jpg","link":"http://teespring.com/hjkl"})
      - shirts.push({"title":"Linux Cheat Shirt","image":"http://a.tgcdn.net/images/products/zoom/dabb_linux_cheat.jpg","link":"http://www.thinkgeek.com/product/dabb/"})
      - shirts.push({"title":"Personal Soundtrack","image":"http://a.tgcdn.net/images/products/zoom/0a5b_personal_soundtrack_shirt.jpg","link":"http://www.thinkgeek.com/product/a5bf/"})
      - shirts.push({"title":"Compiling","image":"http://cdn.shopify.com/s/files/1/0149/3544/products/compiling_shirt_4_1024x1024.jpg?9081","link":"http://store.xkcd.com/products/compiling"})
      - shirts.push({"title":"Slide to Unlock","image":"https://d378wrp175kvqb.cloudfront.net/tanga/image/fetch/c_fit,w_450,h_450/https://s3.amazonaws.com/tanga-images/g2crpas9e6vg.png","link":"https://www.lolshirts.com/shirt/800f3668e8c/slide-to-unlock-t-shirt"})
      - shirts.push({"title":"DZCFKWCRG","image":"http://6dollar.threadpitinc.netdna-cdn.com/images/P/Derek_Zoolander_Center_T_SHIRT_black.jpg","link":"http://6dollarshirts.com/t-shirts/Derek-Zoolander-Center-T-Shirt-p-12101.html"})
      - shirts.push({"title":"Exploded iPhone","image":"http://www.teetrilogy.com/images/product/product-2.jpg","link":"http://www.teetrilogy.com/"})
      - shirts.push({"title":"Turret Schematic","image":"http://a.tgcdn.net/images/products/additional/carousel/e8c5_aperture_turret.jpg","link":"http://www.thinkgeek.com/product/e8c5/"})
      - shirts.push({"title":"Black Mesa","image":"http://www.jinx.com/content/prod/3160p_0c_1b.jpg","link":"http://www.jinx.com/p/half_life_2_black_mesa_premium_tee.html"})
      - shirts.push({"title":"NASA","image":"http://6dollar.threadpitinc.netdna-cdn.com/images/P/Nasa_T_SHIRT_royalheather.jpg","link":"http://6dollarshirts.com/t-shirts/NASA-p-11148.html"})
      - shirts.push({"title":"BSOD","image":"https://d378wrp175kvqb.cloudfront.net/tanga/image/fetch/c_fit,w_450,h_450/https://s3.amazonaws.com/tanga-images/zmjwb8ve34qx.png","link":"https://www.lolshirts.com/shirt/f0ab97a7b83/blue-screen-of-death-t-shirt"})
      ol.calendar
        each shirt in shirts
          - var need = shirt.need ? "need" : ""
          - var me = shirt.me ? "me" : ""
          - var img = shirt.me ? shirt.me : shirt.image
          li(class='#{need} #{me}')
            a(href='#{shirt.link}', style='background-image:url(#{img})')
              span #{shirt.title}
      .footer
        a(href='http://peterwooley.com') &infin;
  script(src='//cdnjs.cloudflare.com/ajax/libs/zepto/1.0rc1/zepto.min.js')
  script(src='js/index.js')
